@tailwind base;
@tailwind components;
@tailwind utilities;
 
body {
    background-color: rgb(248 250 252);
}

ul {
    margin: 20px 0; 
} 

a {
    color:blue; 
    text-decoration: underline;
}


.bgColorImportantRed {
    background-color: #c71515 !important;
}

.bgColorImportantGreen {
    background-color: rgb(86, 199, 21) !important;
}